# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Duality/Backup/*
Duality/Source/Packages/
Duality/Backup/
Duality/Plugins/*
!Duality/Plugins/GamePlugin.core.dll
!Duality/Plugins/GamePlugin.core.pdb
!Duality/Plugins/GamePlugin.core.xml
!Duality/Plugins/EditorPlugin.editor.dll
!Duality/Plugins/EditorPlugin.editor.pdb
!Duality/Plugins/EditorPlugin.editor.xml
Duality/NVorbis.dll
Duality/OpenTK.GLControl.dll
Duality/OpenTK.GLControl.xml
Duality/OpenTK.dll
Duality/OpenTK.dll.config
Duality/OpenTK.pdb
Duality/OpenTK.xml
Duality/FarseerDuality.xml
Duality/FarseerDuality.pdb
Duality/Microsoft.Web.XmlTransform.dll
Duality/NVorbis.XML
Duality/FarseerDuality.dll
Duality/EditorUserData.xml
Duality/PopupControl.dll
Duality/PopupControl.pdb
Duality/DualityUpdater.exe
Duality/DualityPrimitives.pdb
Duality/WeifenLuo.WinFormsUI.Docking.dll
Duality/WeifenLuo.WinFormsUI.Docking.pdb
Duality/logfile.txt
Duality/logfile_editor.txt
Duality/logfile_editor_prev.txt
Duality/perflog.txt
Duality/Aga.Controls.dll
Duality/Aga.Controls.pdb
Duality/Duality.pdb
Duality/Duality.xml
Duality/AdamsLair.WinForms.pdb
Duality/AdamsLair.WinForms.xml
Duality/perflog_editor.txt
Duality/DDoc.chm
Duality/DesignTimeData.dat
Duality/DualityEditor.pdb
Duality/DualityEditor.xml
Duality/DualityLauncher.exe
Duality/DualityLauncher.exe.config
Duality/DualityLauncher.pdb
Duality/DualityPrimitives.XML
Duality/AdamsLair.WinForms.dll
Duality/Source/Code/CorePlugin/bin/
Duality/Source/Code/CorePlugin/obj/
Duality/Source/Code/CorePlugin/GamePlugin.core.xml
Duality/Source/Code/EditorPlugin/bin/
Duality/Source/Code/EditorPlugin/obj/
Duality/Source/Code/EditorPlugin/GamePlugin.core.xml
Duality/Source/Code/ProjectPlugins.v12.suo
